.wrapper {
  font-family: 'Quicksand', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "content" "main-content"; }

header {
  grid-area: header;
  height: 50px;
  width: 100%;
  background-color: #7477bf; }

a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: 600; }

.icon {
  width: 30px;
  height: 30px; }

.hamburger {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 9999; }

.logo-container {
  position: absolute;
  top: 0;
  z-index: 9999;
  left: 40%;
  font-weight: 700; }

.content {
  grid-area: content; }

nav {
  width: 0;
  display: none; }

.menu-expanded {
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #4d4b72;
  overflow-x: hidden;
  transition: 0.5s;
  display: unset;
  width: 100%; }

.navigation-items, .navigation-items-2 {
  text-align: center; }

.navigation-items {
  padding-top: 80px; }

.navigation-items li {
  width: 100%; }

.navigation-items p, .navigation-items-2 {
  margin: 0 0 10px 0; }

.user-name {
  font-weight: 600;
  font-size: 1em;
  margin: 0 0 10px 0; }

.border {
  width: 50% !important;
  border-bottom: 1px #F0F0F0 solid;
  margin: 0 auto !important;
  padding-bottom: 30px; }

.nav-icon, .profile-pic {
  margin: 20px 0 20px 0;
  fill: #F2F2F2; }

.profile-pic {
  border-radius: 50%; }

.icon-bell-o {
  margin-top: 30px; }

.alert-icon-light-relative {
  position: relative; }

.alert-icon-light {
  position: absolute;
  top: 20%;
  margin-left: -8px;
  z-index: 9999999999;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #85db81; }

.sign-out p {
  margin-top: 30px; }

.page-title-search-bar {
  grid-area: page-title-search-bar;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.page-title-container {
  background-color: #FFFFFF;
  width: 35%; }

.page-title, .section-title, .aside-title {
  font-size: 1rem;
  font-weight: 500; }

.page-title {
  margin: 0;
  padding: 15px; }

.search-container {
  margin-right: 4%;
  position: relative;
  width: 50%; }

.search-bar {
  outline: none;
  border: 1px #F0F0F0 solid;
  border-radius: 5px;
  padding: 7px 0 7px 10px;
  width: 100%; }

.search-icon {
  position: absolute;
  float: right;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 10px; }

.main-content {
  background-color: #FFFFFF; }

section, aside {
  border: 1px #F0F0F0 solid; }

.traffic {
  border-top: unset; }

.content-wrapper {
  padding: 15px; }

.alert-message-container {
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background-color: #7477bf;
  color: #FFFFFF;
  position: relative; }

.alert-message {
  width: 95%;
  margin: 0;
  font-size: 0.8rem; }

.alert-message span {
  font-weight: 700; }

.close {
  position: absolute;
  font-weight: 700;
  top: 30%;
  right: 14%; }

.section-title, .aside-title {
  text-transform: uppercase; }

.traffic-container {
  margin-top: 20px; }

.traffic-filter {
  text-align: center; }

.traffic-filter li {
  display: inline;
  margin: 0 10px 0 10px; }

.traffic-filter a {
  color: unset;
  font-weight: unset;
  font-size: 0.9rem; }

.traffic-filter a:focus {
  background-color: #85db81;
  padding: 5px 15px 5px 15px;
  border-radius: 60px;
  color: white;
  outline: none; }

.social-stats .section-title {
  margin-bottom: 30px; }

.stats-container {
  height: 60px;
  border: 1px #CFCFCF solid;
  background-color: #EFEFEF;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 8px;
  justify-content: left; }

.stats-container, .social-logo-container {
  display: flex;
  align-items: center; }

.social-logo-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #7477bf;
  margin: 0 20px 0 0;
  justify-content: center; }

.social {
  fill: white; }

.stat-title {
  font-size: unset;
  color: #7477bf; }

.stat-counter {
  font-size: 2rem;
  margin: -15px 0 0 0; }

/*  Recent Activity and New Members  */
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px; }

.members-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 0.9rem;
  border-bottom: 1px #BEBEBE solid; }

#last-activity, #last-member {
  border-bottom: none; }

.date {
  margin-left: auto; }

.view-more {
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  right: 5%; }

.members-info-display span, .members-info-display a {
  font-size: .8rem; }

.members-info-display span, .date, .view-more {
  color: #BEBEBE; }

.members-info-display a {
  color: #7477bf; }
form button {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: white;
  padding: 15px 0 15px 0;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

[type="submit"] {
  background: #7477bf;
  margin: 20px 0 20px 0;
}
/*  Message User and Settings  */
.message-user input, .settings select, .message-user textarea, .message-user select {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px #BEBEBE solid;
  outline: none;
  background: #EFEFEF;
  margin: 10px 0 10px 0;
  padding: 5px 5% 5px 5%; }

textarea {
  height: 100px !important; }

::placeholder, select:invalid {
  font-size: .9em;
  color: #BEBEBE; }

.settings select {
  width: 100%; }

form button {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: white;
  padding: 15px 0 15px 0;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase; }



.setting-options {
  margin: 30px 0 30px 0; }

.settings-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.settings-button-container button {
  width: 46%; }

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0; }

.toggle-switch-title-container {
  margin: 0 auto 0 0; }

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7477bf;
  transition: .4s;
  border-radius: 34px; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 5px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; }

input:checked + .slider {
  background-color: #BEBEBE; }

input:checked + .slider:before {
  transform: translateX(-55px); }

.slider:after {
  content: 'ON';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px; }

input:checked + .slider:after {
  content: 'OFF'; }

.settings-cancel-button {
  background-color: #BEBEBE; }

/*MEDIA QUERIES===================*/
/* iPads (portrait and landscape) ----------- */
@media (min-device-width: 768px) {
  .wrapper {
    grid-template-rows: 1fr 100% !important;
    grid-template-columns: 70px 1fr !important;
    grid-template-areas: "header header" "content main-content"; }

  header {
    height: 70px;
    position: relative; }

  .logo-container {
    margin-left: 20px; }

  .header-navigation-items {
    position: absolute;
    top: 15px;
    margin-left: 70%;
    width: 225px;
    height: 50px; }

  .header-navigation-items li, .profile-pic, .user-name, .icon-bell-o {
    display: inline-block; }

  .icon-bell-o {
    margin: 0 20px 0 20px;
    padding-right: 20px;
    border-right: 1px #404040 solid;
    height: 25px;
    width: 25px; }

  /*.icon-bell-o:hover {*/
  /*    animation: wiggle 2.5s infinite;*/
  /*    animation-timing-function: linear;*/
  /*}*/
  /*@keyframes wiggle {*/
  /*    0% { transform: rotate(0deg); }*/
  /*    80% { transform: rotate(0deg); }*/
  /*    85% { transform: rotate(5deg); }*/
  /*    95% { transform: rotate(-5deg); }*/
  /*    100% { transform: rotate(0deg); }*/
  /*}*/
  .alert-icon-light {
    top: -10%;
    margin-left: -45px; }

  .profile-pic {
    margin: 0 0 0 0; }

  .user-name {
    position: absolute;
    top: 5px;
    margin: 0 0 0 10px; }

  .content {
    margin: 0;
    background-color: #4d4b72; }

  nav {
    grid-area: navigation;
    display: unset;
    width: unset; }

  .navigation-items {
    padding-top: unset; }

  .page-title-container {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 41px;
    width: 20%; }

  .search-container {
    width: 40%; }

  .search-icon {
    width: 15px;
    height: 15px; }

  .main-content {
    display: grid;
    grid-template-rows: 58px repeat(5, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "page-title-search-bar page-title-search-bar" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings"; }

  .daily-traffic, .mobile-users, .new-members, .recent-activity {
    border-top: 1px #E0E0E0 solid;
    border-bottom: 1px #E0E0E0 solid; }

  .daily-traffic, .new-members, .message-user {
    border-right: 1px #E0E0E0 solid; }

  .content-wrapper {
    padding: 25px 18px 25px 25px;
    margin-bottom: -50px; }

  .traffic {
    grid-area: traffic;
    border-top: none !important; }

  .traffic-container {
    margin-top: 0; }

  .alert-message-container {
    margin: 0 0 30px 0;
    padding: 13px 20px 13px 20px; }

  .close {
    margin-left: 91%; }

  .traffic-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }

  .section-title {
    margin: 0 auto 0 0; }

  .section-title, .traffic-filter {
    display: inline-block; }

  .main-content {
    grid-area: main-content; }

  .daily-traffic {
    grid-area: daily-traffic; }

  .mobile-users {
    grid-area: mobile-users; }

  .social-stats {
    grid-area: social-stats; }

  .twitter-facebook-google-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between; }

  .stats-container {
    width: 27%;
    margin: 0; }

  .new-members {
    grid-area: new-members; }

  .recent-activity {
    grid-area: recent-activity; }

  .message-user {
    grid-area: message-user; }

  .settings {
    grid-area: settings; }

  /*  Removed from DOM */
  .mobile, .hamburger, .navigation-items p {
    display: none !important; }

  section, aside {
    border: unset; } }
/* Laptops, Desktops and Larger.. ----------- */
@media (min-width: 1024px) {
  body, header {
    max-width: 1500px;
    margin: 0 auto; }

  .header-navigation-items {
    margin-left: 83%; }

  .content-wrapper {
    margin-bottom: -30px; }

  .page-title-container {
    width: 10%; }

  .close {
    margin-left: 96.5%; }

  .search-container {
    margin-right: 30px;
    width: 28%; }

  .page-title {
    padding: 15px 25px 15px 25px; }

  .traffic, .mobile-users, .social-stats, .recent-activity, .settings {
    border-right: 1px #4d4b72 solid; }

  .stats-container {
    width: 30%; }

  .social-logo-container, .title-stat-counter {
    margin-left: 30px; }

  .message-user input, .message-user textarea {
    padding: 15px; }

  .message-user-form-container button {
    width: 94%; }

  .message-user input {
    height: unset; } }

/*# sourceMappingURL=styles.css.map */
