.wrapper {
  font-family: "Quicksand", sans-serif; }

a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: 600; }

.logo-container {
  font-weight: 700; }

.user-name {
  font-weight: 600;
  font-size: 1em; }

.page-title, .section-title, .aside-title {
  font-size: 1rem;
  font-weight: 500; }

.alert-message {
  font-size: 0.8rem; }

.alert-message span {
  font-weight: 700; }

.close {
  font-weight: 700; }

.section-title, .aside-title {
  text-transform: uppercase; }

.traffic-filter {
  text-align: center; }

.traffic-filter a {
  color: #848484;
  font-weight: unset;
  font-size: 0.9rem; }

.stat-title {
  font-size: unset;
  color: #7477bf; }

.stat-counter {
  font-size: 2rem; }

.members-container {
  font-size: 0.9rem; }

.view-more {
  font-weight: 700;
  font-size: 1.2rem; }

.members-info-display span, .members-info-display a {
  font-size: .8rem; }

::placeholder, select:invalid {
  font-size: .9em;
  color: #BEBEBE; }

.slider:after {
  color: #FFFFFF;
  font-size: 10px; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Lists
   ========================================================================== */
/**
 * Remove default list styles, margins and padding.
 */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  outline: none;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white; }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.alert-message-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #7477bf;
  color: #FFFFFF;
  position: relative; }
  @media (min-width: 768px) {
    .alert-message-container {
      margin: 0 0 30px 0;
      padding: 13px 20px 13px 20px; } }

.alert-message {
  width: 95%;
  margin: 0; }

.close {
  position: absolute;
  top: 0;
  right: 5%;
  position: absolute;
  top: 24% !important; }
  @media (min-width: 768px) {
    .close {
      right: 3%; } }
  @media (min-width: 1024px) {
    .close {
      right: 1%; } }

button {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 15px 0 15px 0;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  text-transform: uppercase; }

.submit-button {
  background: #7477bf;
  margin: 20px 0 20px 0; }

.settings-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.settings-cancel-button {
  background-color: #BEBEBE; }

.logo:hover {
  animation: spin 5s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
.icon-bell-o:hover, .icon:hover {
  fill: #FFFFFF; }

.notification-icon:hover {
  fill: #81c98f; }

.submit-button:hover {
  background-color: #494c9e; }

.shake {
  animation: shake 2s linear infinite; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
/* width */
::-webkit-scrollbar {
  width: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: #4d4b72; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7477bf; }

html {
  overflow: scroll;
  overflow-x: hidden; }

.wrapper {
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "content" "main-content"; }
  @media (min-width: 768px) {
    .wrapper {
      grid-template-rows: 1fr 100% !important;
      grid-template-columns: 70px 1fr !important;
      grid-template-areas: "header header" "content main-content"; } }

.content {
  grid-area: content; }

.main-content {
  background-color: #FFFFFF; }
  @media (min-width: 768px) {
    .main-content {
      display: grid;
      grid-template-rows: 58px 375px 250px 190px minmax(450px, auto) 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "page-title-search-bar page-title-search-bar" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings"; } }
  .main-content .daily-traffic, .main-content .mobile-users, .main-content .new-members, .main-content .recent-activity {
    border-top: 1px #E0E0E0 solid;
    border-bottom: 1px #E0E0E0 solid; }
  .main-content .daily-traffic, .main-content .new-members, .main-content .message-user {
    border-right: 1px #E0E0E0 solid; }
  .main-content .section-title {
    margin: 0 auto 0 0; }
  .main-content .section-title, .main-content .traffic-filter {
    display: inline-block; }
  .main-content .main-content {
    grid-area: main-content; }
  .main-content .daily-traffic {
    grid-area: daily-traffic; }
  .main-content .mobile-users {
    grid-area: mobile-users; }
  .main-content .social-stats {
    grid-area: social-stats; }
  .main-content .new-members {
    grid-area: new-members; }
  .main-content .recent-activity {
    grid-area: recent-activity; }
  .main-content .message-user {
    grid-area: message-user; }
  .main-content .settings {
    grid-area: settings; }
  .main-content .mobile, .main-content .hamburger, .main-content .navigation-items p {
    display: none !important; }
  @media (min-width: 1024px) {
    .main-content {
      grid-template-rows: 58px 475px 400px 190px minmax(450px, auto) 1fr; }
      .main-content .page-title-search-bar, .main-content .traffic, .main-content .mobile-users, .main-content .social-stats, .main-content .recent-activity, .main-content .settings {
        border-right: 1px #7477bf solid; } }

.icon, .notification-icon, .icon-github {
  width: 30px;
  height: 30px; }

.logo {
  width: 35px;
  height: 35px;
  opacity: .5; }
  @media (min-width: 768px) {
    .logo {
      width: 45px;
      height: 45px; } }

.profile-image {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 15px; }

.notification-icon {
  fill: #BEBEBE;
  cursor: pointer; }

.empty-icon {
  width: 80px;
  height: 100px;
  fill: #FFFFFF; }

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0; }

.toggle-switch-title-container {
  margin: 0 auto 0 0; }

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #7477bf;
  transition: .4s;
  border-radius: 34px; }

.slider:before {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 4px;
  border-radius: 50%;
  top: 3px !important;
  content: "";
  height: 28px;
  width: 28px;
  background-color: #FFFFFF;
  transition: .4s; }

input:checked + .slider {
  background-color: #BEBEBE; }

input:checked + .slider:before {
  transform: translateX(-55px); }

.slider:after {
  position: absolute;
  top: 0;
  left: 50%;
  content: 'ON';
  display: block;
  transform: translate(-50%, -50%);
  top: 50% !important; }

input:checked + .slider:after {
  content: 'OFF'; }

@media (min-width: 1024px) {
  body, header {
    max-width: 1500px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .content-wrapper {
    padding: 25px 18px 25px 25px;
    margin-bottom: -50px; } }
@media (min-width: 1024px) {
  .content-wrapper {
    margin-bottom: -30px; } }

.page-title-container {
  background-color: #FFFFFF;
  width: 35%; }
  .page-title-container .page-title {
    margin: 0;
    padding: 15px; }
  @media (min-width: 768px) {
    .page-title-container {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 41px;
      width: 19%; }
      .page-title-container .page-title {
        padding: 15px 25px 15px 25px; } }
  @media (min-width: 1024px) {
    .page-title-container {
      width: 13%; } }

.page-title-search-bar {
  grid-area: page-title-search-bar;
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search-container {
  margin-right: 4%;
  position: relative;
  width: 50%; }
  @media (min-width: 768px) {
    .search-container {
      width: 40%; } }
  @media (min-width: 1024px) {
    .search-container {
      margin-right: 30px;
      width: 28%; } }
  .search-container .search-bar {
    outline: none;
    border: 1px #CFCFCF solid;
    border-radius: 5px;
    padding: 7px 0 7px 10px;
    width: 100%; }
  .search-container .search-icon {
    position: absolute;
    top: 0;
    right: 10px;
    float: right;
    width: 20px;
    height: 20px;
    top: 8px !important; }
    @media (min-width: 768px) {
      .search-container .search-icon {
        width: 15px;
        height: 15px; } }

section, aside {
  border: 1px #F0F0F0 solid; }
  @media (min-width: 768px) {
    section, aside {
      border: unset; } }

.chart-container {
  margin: 30px 0 0 0; }

.daily-traffic-chart {
  height: 200px;
  padding: 0 20px 0 20px; }
  @media (min-width: 768px) {
    .daily-traffic-chart {
      height: 150px; } }
  @media (min-width: 1024px) {
    .daily-traffic-chart {
      height: 300px; } }

header {
  grid-area: header;
  height: 50px;
  width: 100%;
  background-color: #7477bf; }
  @media (min-width: 768px) {
    header {
      height: 70px;
      position: relative; } }
  header .hamburger {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 99999; }
  header .logo-container {
    position: absolute;
    top: 0;
    left: 45%;
    z-index: 1;
    top: 4px !important; }
    @media (min-width: 768px) {
      header .logo-container {
        top: 10px !important;
        left: 2%; } }
    @media (min-width: 1024px) {
      header .logo-container {
        left: 12px; } }

@media (min-width: 768px) {
  .header-navigation-items {
    position: absolute;
    top: 0;
    right: 1%;
    width: 225px;
    height: 100%; }
    .header-navigation-items .header-navigation-items li, .header-navigation-items .profile-pic, .header-navigation-items .user-name, .header-navigation-items .icon-bell-o {
      display: inline-block; }
    .header-navigation-items .icon-bell-o, .header-navigation-items .profile-pic, .header-navigation-items .user-name {
      position: absolute;
      top: 0; }
    .header-navigation-items .alert-icon-light-relative {
      position: relative; }
    .header-navigation-items .icon-bell-o {
      margin: 25px 0 0 0;
      padding-right: 10px;
      right: 65%;
      border-right: 1px #404040 solid;
      height: 25px;
      width: 25px; }
    .header-navigation-items .alert-icon-light {
      margin-top: 20px;
      left: 70px; }
    .header-navigation-items .profile-pic {
      top: 25% !important;
      right: 45%;
      margin: 0; }
    .header-navigation-items .user-name {
      top: 30% !important;
      right: 5%; } }

#last-activity, #last-member {
  border-bottom: none; }

.date {
  margin-left: auto; }

.members-info-display {
  position: relative; }

.members-container {
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px #BEBEBE solid; }

.view-more {
  position: absolute;
  top: 0;
  right: 5%;
  top: 40% !important; }

.members-info-display span, .date, .view-more {
  color: #848484; }

.members-info-display a {
  color: #7477bf; }

.mobile-users-chart {
  height: 200px;
  padding: 0 20px 0 20px; }
  @media (min-width: 768px) {
    .mobile-users-chart {
      height: 150px; } }
  @media (min-width: 1024px) {
    .mobile-users-chart {
      height: 300px; } }

.empty-content {
  border-color: red !important; }

.content {
  grid-area: content;
  position: relative; }
  @media (min-width: 768px) {
    .content {
      margin: 0;
      background-color: #4d4b72; } }

nav {
  width: 0;
  display: none; }
  @media (min-width: 768px) {
    nav {
      grid-area: navigation;
      display: unset;
      width: unset; } }

.dashboard-page {
  border-left: 3px #81c98f solid; }

.menu-expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 50px 0 20px 0;
  background-color: #4d4b72;
  overflow-y: hidden;
  touch-action: none;
  transition: 0.5s;
  display: unset; }
  .menu-expanded p {
    margin: 0; }

.navigation-items, .navigation-items-2 {
  text-align: center; }

@media (min-width: 768px) {
  .navigation-items {
    padding-top: unset; } }

.navigation-items li {
  width: 100%; }
  @media (min-width: 768px) {
    .navigation-items li {
      margin: 10px 0; } }

.navigation-items p, .navigation-items-2, .user-name {
  margin: 0; }

.navigation-items-2 {
  height: 100%; }

.border {
  width: 50% !important;
  border-bottom: 1px #F0F0F0 solid;
  margin: 0 auto !important;
  padding-bottom: 30px; }

.nav-icon, .profile-pic {
  margin: 4% 0 4% 0;
  fill: #BEBEBE; }
  @media (min-width: 768px) {
    .nav-icon, .profile-pic {
      margin: 0; } }

.user-name {
  color: #F3F3F3; }

.profile-pic, .alert-icon-light {
  border-radius: 50%; }

.icon-bell-o, .sign-out p {
  margin-top: 25px; }

.alert-icon-light-relative {
  position: relative; }

.alert-icon-light {
  position: absolute;
  top: 0;
  z-index: 999999;
  border-radius: 50%;
  top: 20% !important;
  margin-left: -8px;
  width: 8px;
  height: 8px;
  background-color: #81c98f; }

.icon-github {
  position: absolute;
  top: 0;
  z-index: 999999;
  top: 85% !important;
  left: 5%;
  fill: #BEBEBE; }
  @media (min-width: 768px) {
    .icon-github {
      top: 94.5% !important;
      left: 20%; } }

.alert-pop-up-title {
  margin-top: 0; }

.alert-pop-up {
  display: none; }
  .alert-pop-up .alert-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .alert-pop-up li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px #BEBEBE solid; }
  .alert-pop-up li:last-child {
    margin-bottom: 20px;
    border-bottom: none; }
  .alert-pop-up .alert-pop-up-close {
    background-color: #7477bf; }

.alert-pop-up a {
  color: #74B1BF; }

.pop-up-active {
  display: unset;
  position: absolute;
  top: 0;
  right: 3%;
  top: 105% !important;
  padding: 25px;
  background-color: #EFEFEF;
  width: 80%;
  min-height: min-content;
  max-height: max-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 9999999; }
  @media (min-width: 768px) {
    .pop-up-active {
      top: 0 !important;
      width: 335%;
      right: -805%; } }
  @media (min-width: 1024px) {
    .pop-up-active {
      width: 335%;
      right: -1145%; } }
  @media (min-width: 1200px) {
    .pop-up-active {
      right: -1712%; } }
  @media (min-width: 1500px) {
    .pop-up-active {
      right: -1820%; } }

.pop-up-active:after {
  position: absolute;
  top: 0;
  left: 45%;
  content: " ";
  top: 99% !important;
  border-width: 15px;
  border-style: solid;
  border-color: #EFEFEF transparent transparent transparent; }
  @media (min-width: 768px) {
    .pop-up-active:after {
      top: -5% !important;
      left: 85%;
      border-color: transparent transparent #EFEFEF transparent; } }

.empty-notification {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto 20px auto;
  width: min-content; }
  .empty-notification .empty-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #e4e4e4; }
  .empty-notification .empty-message {
    margin: 20px 0 0 0; }

.setting-options {
  margin: 30px 0 30px 0; }

.settings-button-container button {
  width: 46%; }

.message-user input, .settings select, .message-user textarea, .message-user select {
  height: 40px;
  border-radius: 5px;
  border: 1px #BEBEBE solid;
  outline: none;
  background: #EFEFEF;
  margin: 10px 0 10px 0;
  padding: 10px 2% 10px 2% !important; }

.message-user input, .message-user textarea {
  width: 95% !important; }

.message-user #message-user {
  margin-top: 25px; }
@media (min-width: 1024px) {
  .message-user .message-user input, .message-user .message-user textarea {
    padding: 15px; }
  .message-user .message-user input {
    height: unset; } }

textarea {
  height: 100px !important; }

#timezone {
  width: 100%; }

.autocomplete-container {
  position: relative;
  width: unset !important;
  height: unset !important; }
  .autocomplete-container .autocomplete-input {
    height: 20px !important;
    float: left; }
  .autocomplete-container .proposal-box {
    position: absolute;
    height: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    left: 0; }
  .autocomplete-container .proposal-list {
    list-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0; }
  .autocomplete-container .proposal-list li {
    text-align: left;
    padding: 5px;
    font-family: inherit;
    border-bottom: 1px #F0F0F0 solid;
    height: 25px;
    line-height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
  .autocomplete-container li.proposal.selected {
    background-color: #7477bf;
    color: #FFFFFF; }

.social-stats .section-title {
  margin-bottom: 30px; }

.stats-container {
  height: 60px;
  width: 100%;
  border: 1px #CFCFCF solid;
  background-color: #EFEFEF;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 8px;
  justify-content: left; }
  @media (min-width: 768px) {
    .stats-container {
      width: 27%;
      margin: 0; } }
  @media (min-width: 1024px) {
    .stats-container {
      width: 29%; } }

.twitter-facebook-google-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%; }

.stats-container, .social-logo-container {
  display: flex;
  align-items: center; }

.social-logo-container {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #7477bf;
  margin: 0 20px 0 0;
  justify-content: center; }
  .social-logo-container .social {
    fill: white; }

@media (min-width: 1024px) {
  .social-logo-container, .title-stat-counter {
    margin-left: 30px; } }

.title-stat-counter .stat-title {
  margin: 0 0 10px 0; }
.title-stat-counter .stat-counter {
  margin: -15px 0 0 0; }

.traffic {
  border-top: unset; }
  @media (min-width: 768px) {
    .traffic {
      grid-area: traffic;
      border-top: none !important; } }

.content-wrapper {
  padding: 15px; }

.traffic-container {
  margin-top: 20px; }
  .traffic-container .traffic-filter {
    margin: 20px 0 0 10px; }
  @media (min-width: 768px) {
    .traffic-container {
      display: flex;
      align-items: center;
      margin: 0 0 20px 0; }
      .traffic-container .traffic-filter {
        margin: unset; } }

.traffic-filter li {
  display: inline;
  margin: 0; }

.traffic-filter a {
  padding: 5px 15px 5px 15px;
  border-radius: 60px;
  outline: none; }

.filter-active {
  background-color: #81c98f;
  padding: 5px 15px 5px 15px;
  border-radius: 60px;
  color: #FFFFFF !important;
  outline: none; }

.traffic-chart {
  height: 250px;
  padding: 0 20px 0 20px;
  position: relative; }
  @media (min-width: 768px) {
    .traffic-chart {
      height: 200px; } }
  @media (min-width: 1024px) {
    .traffic-chart {
      height: 300px; } }

.hourly-legend-container {
  display: none !important; }

.hourlyChart-is-displayed {
  display: unset !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 8%;
  top: -6% !important;
  width: max-content; }
  .hourlyChart-is-displayed .hourly, .hourlyChart-is-displayed .hourly-title, .hourlyChart-is-displayed .hourly-color {
    display: inline-block; }
  .hourlyChart-is-displayed .hourly-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px; }
  .hourlyChart-is-displayed .hourly-color {
    width: 30px;
    height: 8px;
    border: 3px transparent solid; }
  .hourlyChart-is-displayed .hourly-title {
    margin: 0 0 0 10px;
    color: #848484;
    font-size: .9rem; }
  .hourlyChart-is-displayed .hourly-am-color {
    border-color: #7477bf;
    background-color: rgba(145, 147, 217, 0.6); }
  .hourlyChart-is-displayed .hourly-pm-color {
    border-color: #81c98f;
    background-color: rgba(112, 192, 143, 0.4); }
  @media (min-width: 768px) {
    .hourlyChart-is-displayed {
      right: 4%; } }
  @media (min-width: 1024px) {
    .hourlyChart-is-displayed {
      right: 2%; } }
  @media (min-width: 1200px) {
    .hourlyChart-is-displayed {
      right: 3%; } }

/*# sourceMappingURL=styles.css.map */
