body, header {
  @include mq("l") {
    max-width: 1500px;
    margin: 0 auto;}
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "content" "main-content";
  @include mq("m") {
    grid-template-rows: 1fr 100% !important;
    grid-template-columns: 70px 1fr !important;
    grid-template-areas: "header header" "content main-content";}
}

.logo-container {
  @include mq("m") {
    margin-left: 20px;}
}

.content {
  grid-area: content; }

.content-wrapper {
  @include mq("m") {
    padding: 25px 18px 25px 25px;
    margin-bottom: -50px;}
  @include mq("l") {
    margin-bottom: -30px;}
}

.page-title-container {
  @include mq("m") {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 41px;
    width: 20%;
  }
  @include mq("l") {
    width: 10%;}
}

.page-title-search-bar {
  grid-area: page-title-search-bar;
  background-color: $color-medium-text;
  @include flex($align: center, $just: space-between);
  .page-title-container {
    background-color: $white;
    width: 35%;
    @include mq("m") {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 41px;
      width: 20%;}
  }
    .page-title {
      margin: 0;
      padding: 15px;
      @include mq("l") {
        padding: 15px 25px 15px 25px;}
    }
}

.search-container {
  margin-right: 4%;
  position: relative;
  width: 50%;
  @include mq("m") {
    width: 40%;
  }
  @include mq("l") {
    margin-right: 30px;
    width: 28%;
  }
  .search-bar {
    outline: none;
    border: $color-medium-text;
    border-radius: 5px;
    padding: 7px 0 7px 10px;
    width: 100%; }
  .search-icon {
    @include position($pos: absolute, $right: 10px );
    float: right;
    width: 20px;
    height: 20px;
    top: 8px!important;
      @include mq("m") {
        width: 15px;
        height: 15px;} }
}

.main-content {
  background-color: $white;
  //Media queries
  @include mq("m") {
    display: grid;
    grid-template-rows: 58px repeat(5, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "page-title-search-bar page-title-search-bar" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings"; }
  .daily-traffic, .mobile-users, .new-members, .recent-activity {
    border-top: $border-mq768-up;
    border-bottom: $border-mq768-up; }
  .daily-traffic, .new-members, .message-user {
    border-right: $border-mq768-up; }
  .section-title {
    margin: 0 auto 0 0; }
  .section-title, .traffic-filter {
    display: inline-block; }
  .main-content {
    grid-area: main-content; }
  .daily-traffic {
    grid-area: daily-traffic; }
  .mobile-users {
    grid-area: mobile-users; }
  .social-stats {
    grid-area: social-stats; }
  .new-members {
    grid-area: new-members; }
  .recent-activity {
    grid-area: recent-activity; }
  .message-user {
    grid-area: message-user; }
  .settings {
    grid-area: settings; }
  // Hidden from page on 768px and higher
  .mobile, .hamburger, .navigation-items p {
    display: none !important; }
  @include mq("l") {
    .page-title-search-bar, .traffic, .mobile-users, .social-stats, .recent-activity, .settings {
      border-right: 1px $color-primary solid; }
  }
}

section, aside {
  border: $border-light;
  @include mq("m") {
    // Hidden from page on 768px and higher
    border: unset;}
}

.alert-message-container {
  @include mq("m") {
    margin: 0 0 30px 0;
    padding: 13px 20px 13px 20px;}
}

.traffic-container {
  margin-top: 20px;
 @include mq("m") {
   @include flex($align: center);
   margin: 0 0 20px 0;}
}

.twitter-facebook-google-container {
  @include flex($just: space-between);
  height: 100%;
  width: 100%;
}

.stats-container {
  height: 60px;
  border: 1px #CFCFCF solid;
  background-color: #EFEFEF;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 8px;
  justify-content: left;
  @include mq("m") {
    width: 27%;
    margin: 0;}
  @include mq("l") {
    width: 30%;
  }
}

.stats-container, .social-logo-container {
  @include flex($align: center);}

.social-logo-container {
  @include circle;
  width: 55px;
  height: 55px;
  background-color: $color-secondary;
  margin: 0 20px 0 0;
  justify-content: center;
  .social {
    fill: white; }
}

.social-logo-container, .title-stat-counter {
  @include mq("l") {
    margin-left: 30px;}
}

.members-container {
  @include flex($align: center);
  padding: 10px 0;
  border-bottom: $border-darker; }
.settings-button-container {
  @include flex($align: center, $just: space-between) }
.toggle-container {
  @include flex($align: center);
  margin: 10px 0 10px 0; }
.toggle-switch-title-container {
  margin: 0 auto 0 0; }


