#last-activity, #last-member {
  border-bottom: none; }

.date {
  margin-left: auto; }

.members-info-display {
  position: relative;
}

.members-container {
  position: relative;
  height: 75px;
  @include flex($align: center);
  padding: 10px 0;
  border-bottom: $border-darker; }

.view-more {
  @include position($pos: absolute, $right: 5%);
  top: 40% !important;
}

.members-info-display span, .date, .view-more {
  color: $color-dark-text; }

.members-info-display a {
  color: $color-secondary; }

