.message-user input, .settings select, .message-user textarea, .message-user select {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: $border-darker;
  outline: none;
  background: $background-light;
  margin: 10px 0 10px 0;
  padding: 5px 5% 5px 5%; }

.message-user {
  #message-user{
    margin-top: 25px;}
  @include mq("l") {
    .message-user input, .message-user textarea {
      padding: 15px; }
    .message-user-form-container button {
      width: 94%; }
    .message-user input {
      height: unset; } }
}

textarea {
  height: 100px !important; }

.settings select {
  width: 100%; }