.content {
  grid-area: content;
  position: relative;
  @include mq("m") {
    margin: 0;
    background-color: $color-primary;}
}

nav {
  width: 0;
  display: none;
  @include mq("m") {
    grid-area: navigation;
    display: unset;
    width: unset;}
}
// class for nav page li
.dashboard-page {
  border-left: 3px $secondary-light solid;
}

.menu-expanded {
  @include full-page;
  @include position($pos: fixed, $left: 0, $z: 1);
  background-color: $color-primary;
  overflow-y: hidden;
  touch-action: none;
  transition: 0.5s;
  display: unset;}

.navigation-items, .navigation-items-2 {
  text-align: center; }

.navigation-items {
  padding-top: 80px;
  @include mq("m") {
    padding-top: unset;}
}

.navigation-items li {
  width: 100%;
@include mq("m") {
  margin: 20px 0 20px 0;
}}

.navigation-items p, .navigation-items-2, .user-name {
  margin: 0; }

.border {
  width: 50% !important;
  border-bottom: $border-light;
  margin: 0 auto !important;
  padding-bottom: 30px; }

.nav-icon, .profile-pic {
  margin: 20px 0 20px 0;
  fill: $color-medium-text;
@include mq("m") {
  margin: 0;
}}
.user-name {
  color: $color-light-text;
}

.profile-pic, .alert-icon-light {
  @include circle }

.icon-bell-o, .sign-out p {
  margin-top: 30px; }

.alert-icon-light-relative {
  position: relative; }

.alert-icon-light {
  @include position($pos: absolute, $z: 999999);
  @include circle;
  top: 20% !important;
  margin-left: -8px;
  width: 8px;
  height: 8px;
  background-color: $secondary-light; }

.alert-pop-up-title {
  margin-top: 0;
}

.alert-pop-up {
  display: none;
  .alert-content {
    @include flex($just: space-between, $dir: column);
  }
  & li {
    @include flex($align: center, $just: space-between);
    padding: 10px 0 10px 0;
    border-bottom: $border-darker;
  }
  & li:last-child {
    margin-bottom: 20px;
    border-bottom: none;
  }
  .alert-pop-up-close {
    background-color: $color-secondary;}
}

.alert-pop-up a {
  color: #74B1BF;
}

.pop-up-active {
  display: unset;
  @include position($pos: absolute, $right: 3%);
  top: 105% !important;
  padding: 25px;
  background-color: $background-light;
  width: 80%;
  min-height: min-content;
  max-height: max-content;
  // real world: set notifications to a maximum of 4 or pop-up box will be too long
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 9999999;
    @include mq("m") {
      top: 0 !important;
      width: 335%;
      right: -805%;}
    @include mq("l") {
      width: 335%;
      right: -1145%;}
    @include mq('xl') {
      right: -1712%;}
    @include mq('max-width') {
      right: -1820%;}
}
// arrow
.pop-up-active:after {
  @include position($pos:absolute, $left:45% );
  content: " ";
  top: 99% !important;
  border-width: 15px;
  border-style: solid;
  border-color: $background-light transparent transparent transparent;
  @include mq("m") {
    top: -5% !important;
    left: 85%;
    border-color: transparent transparent $background-light transparent;}
}

.empty-notification {
  @include flex($align: center, $just: center, $wrap:wrap);
  margin: 30px auto 20px auto;
  width: min-content;
  .empty-icon-container {
    @include flex($align: center, $just: center);
    @include circle;
    width: 150px;
    height: 150px;
    background-color: lighten($background-dark, 15);
  }
  .empty-message {
    margin: 20px 0 0 0;}
}

// Icons-bell-o, alert-pop-up, profile-pic, and user-name moved to _header on screen size 768px and bigger