.content {
  grid-area: content;
  @include mq("m") {
    margin: 0;
    background-color: $color-primary;}
}

nav {
  width: 0;
  display: none;
  @include mq("m") {
    grid-area: navigation;
    display: unset;
    width: unset;}
}

.menu-expanded {
  @include full-page;
  @include position($pos: fixed, $left: 0, $z: 1);
  background-color: $color-primary;
  overflow-y: hidden;
  touch-action: none;
  transition: 0.5s;
  display: unset;}

.navigation-items, .navigation-items-2 {
  text-align: center; }

.navigation-items {
  padding-top: 80px;
  @include mq("m") {
    padding-top: unset;}
}

.navigation-items li {
  width: 100%; }

.navigation-items p, .navigation-items-2, .user-name {
  margin: 0 0 10px 0; }

.border {
  width: 50% !important;
  border-bottom: $border-light;
  margin: 0 auto !important;
  padding-bottom: 30px; }

.nav-icon, .profile-pic {
  margin: 20px 0 20px 0;
  fill: $color-medium-text; }
.user-name {
  color: $color-light-text;
}

.profile-pic, .alert-icon-light {
  @include circle }

.icon-bell-o, .sign-out p {
  margin-top: 30px; }

.alert-icon-light-relative {
  position: relative; }

.alert-icon-light {
  @include position($pos: absolute, $z: 999999);
  @include circle;
  top: 20% !important;
  margin-left: -8px;
  width: 8px;
  height: 8px;
  background-color: $color-green; }

.alert-pop-up-title {
  margin-top: 0;
}

.alert-pop-up {
  display: none;
  .alert-content {
    @include flex($just: space-between, $dir: column);
  }
  & li {
    @include flex($align: center, $just: space-between);
    padding: 10px 0 10px 0;
    border-bottom: $border-darker;
  }
  & li:last-child {
    margin-bottom: 20px;
    border-bottom: none;
  }
  .alert-pop-up-close {
    background-color: $color-secondary;
  }
}
.alert-pop-up a {
  color: #74B1BF;
}
.pop-up-active {
  display: unset;
  @include position($pos: absolute, $right: 3%);
  top: 19% !important;
  padding: 25px;
  background-color: #f1f1f1;
  width: 80%;
  min-height: min-content;
  max-height: 60%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 9999999;
  @include mq("m") {
    top: 7% !important;
    width: 40%;
    right: 19%;
  }
  @include mq("l") {
    top: 8% !important;
    width: 25%;
    right: 12%;}
}
.empty-notification {
  @include flex($align: center, $just: center, $wrap:wrap);
  margin: 30px auto 20px auto;
  width: min-content;
  .empty-icon-container {
    @include flex($align: center, $just: center);
    @include circle;
    width: 150px;
    height: 150px;
    background-color: lighten($background-dark, 15);
  }
  .empty-message {
    margin: 20px 0 0 0;
  }
}
// Icons-bell-o, alert-pop-up, profile-pic and user-name moved to _header on screen size 768px and bigger