.alert-message-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: $color-primary;
  color: $white;
  position: relative;
  @include mq("m") {
    margin: 0 0 30px 0;
    padding: 13px 20px 13px 20px;}
}

.alert-message {
  width: 95%;
  margin: 0;}

.close {
  @include position($pos: absolute, $right: 5%);
  position: absolute;
  top: 30% !important;
  @include mq("m") {
    right: 3%;}
  @include mq("l") {
    right: 1%;}
}