.icon, .notification-icon, .icon-github {
  width: $size-svg-icons;
  height: $size-svg-icons; }

.logo {
  width: $size-logo-mobile;
  height: $size-logo-mobile;
  opacity: .5;
  @include mq("m") {
    width: $size-logo-regular;
    height: $size-logo-regular;
  }
}

.profile-image {
  @include circle;
  cursor: pointer;
  width: $size-icon-image;
  height: $size-icon-image;
  margin-right: 15px; }

.notification-icon {
  fill: $color-medium-text;
  cursor: pointer;
}
// Empty notification pop-up
.empty-icon {
  width: 80px;
  height: 100px;
  fill: $white;
}